datasets/google+_social_circle/
datasets/twitter_social_circle/
datasets/twitter_social_circle/readme-Ego.txt
datasets/twitter_social_circle/twitter_combined.txt
datasets/twitter_social_circle/twitter.tar